html, body {
  margin: 0;
  font-size: 30px;
}

.form {
  width: 40%;
  margin: auto;
}

.form label {
  display: block;
}

.form input, textarea {
  width: 100%;
  padding: 0.3rem;
}

.form input[type="submit"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #4286f4;
  color: white
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

.article {
  text-align: center;
  width: 40%;
  margin: auto;
}

.article__label {
  font-weight: bold;
}

.preview {
  width: 60%;
  margin: auto;
}

.check-virality {
  text-decoration: underline;
}
