<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Title</title>
</head>
<body>
    <div class="article">
      <p><span class="article__label">Title:</span> {{ article.title }}</p>
      <p><span class="article__label">Lead:</span> <span class="article__content">{{ article.lead }}</p>
      <p><span class="article__label">Content:</span> <span class="article__content">{{ article.content }}</p>
      <p><span class="article__label">Source:</span> <span class="article__content">{{ article.source }}</p>
    </div>
</body>
</html>
