<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Title</title>
</head>
<body>
  <form class="form" action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Submit"></p>
  </form>
  <div class="preview">
    <p class="check-virality">Check virality</p>


<table>
  <tr>
    <td>
        <table>
            <th>buzzfeed</th>
            {% for article in articles_buzzfeed %}
            <tr>
                <td><a href="{% url 'article' article_id=article.id %}">{{ article.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <table>
            <th>mashable</th>
            {% for article in articles_mashable %}
            <tr>
                <td><a href="{% url 'article' article_id=article.id %}">{{ article.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <table>
            <th>techcrunch</th>
            {% for article in articles_techcrunch %}
            <tr>
                <td><a href="{% url 'article' article_id=article.id %}">{{ article.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </td>
  </tr>
</table>


  </div>
</body>
</html>
